/* styles.css */

/* Navbar container */
.navbar {
    background-color: #000; /* Background color: black */
    color: #fff; /* Text color: white */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  /* Navbar logo */
  .navbar-logo a {
    color: #fff; /* Logo text color: white */
    text-decoration: none;
    font-size: 1.5rem; /* Logo font size */
    font-weight: bold;
  }
  
  /* Navbar menu */
  .navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  /* Navbar items */
  .navbar-item {
    margin-right: 20px; /* Spacing between items */
  }
  
  /* Navbar item links */
  .navbar-item a {
    color: #fff; /* Item text color: white */
    text-decoration: none;
    font-size: 1rem; /* Item font size */
    font-weight: bold;
  }
  
  /* Change link color on hover */
  .navbar-item a:hover {
    color: #000; /* Hover color: black */
  }
  