.login-container {
  height: 100%;
  display: grid;
  width: 100%;
  align-items: center;
  gap: 20%; 
  grid-template-columns: 30% auto; 
}



@media (max-width: 745px) {
  .login-container {
    padding: 40px;
    grid-template-columns: 1fr; 
    gap:1px; 
  }
}


@media (min-width: 1500px) {
.login-container {
  grid-template-columns: 25% auto; 
}
}