.sidebar {
    background-color: black;
    color: white;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    width: 200px; /* Adjust the width as needed */
    height: 100vh; /* Set the height to 100% of the viewport height */
    position: fixed;
    border-top-right-radius: 10px;
    padding: 10px; /* Add some padding for spacing from the edges */
    margin-top: 100px;
  }
  
  .sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0; /* Remove default margin */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */

  }
  
  .sidebar-item {
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px 20px 20px ; /* Add vertical margin for spacing between items */
    display: flex;
    align-items: center; /* Center both vertically and horizontally */


  }

  .sidebar-item img {
    margin-right: 10px; /* Add space between the icon and text */
  }


  .sidebar-item:first-child {
    margin-top: 40px; /* Remove the top margin for the first item */
  }
  
  .sidebar-item:hover {
    background-color: #333; /* Darker background on hover */
  }
  