.error-container {
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: center;
    background-color: #fdd;
    color: #c00;
    margin-bottom: 30px;
    border-radius: 5px;
}

.error-message-cmpt {
width: 70%;
text-align: center;

}