.login-container {
  display: grid;
  width: 100%;
  align-items: center;
  gap: 14%; 
  grid-template-columns: 30% auto; 
}



@media (max-width: 700px) {
  .login-container {
    padding: 50px;
    grid-template-columns: 1fr; 
    gap: 50px; 

  }
.login-first-section-container {
  order: 2; 

}
}


@media (min-width: 1500px) {
.login-container {
  grid-template-columns: 25% auto; 
}
}