.login-input {
position: relative;
display: flex;
flex-direction: column;
gap: 5px;
}
.login-input  input {
outline: none;
border-radius: 6px ; 
border : 0.5px solid black ; 
height: 3rem;
font-size: 0.875rem;
width: 100%;
color: #1B254B;
border-color: #E0E5F2;
padding: 0 20px;
padding-right: 40px;
}


.login-input  input::placeholder {
color: #b8bdcd;
}



.login-input   svg {
cursor: pointer;
color: #9ca1b2;
}


.input-wrapper {
  position: relative;
}

.eye {
  position: absolute;
  top: 55%;
  right: 20px;
  transform: translateY(-50%);
}

.err-msg{
  gap: 8px;
  display: flex;
  flex-direction: row;
align-items: center;
  color: #D32F2F;
    font-weight: 600;
    font-size: 0.875rem;
    margin-left: 10px;
}


.err-msg  p {

font-weight: 500;

}


